.git
.DS_Store

.venv
**/__pycache__
**/*.py[cod]

.env
.env.*

.terraform
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/*.tfplan

hc/local_settings.py
hc.sqlite*
static-collected
evidence
