DB={{ deploy_environment.DB }}
DB_HOST={{ deploy_environment.DB_HOST }}
DB_PORT={{ deploy_environment.DB_PORT }}
DB_NAME={{ deploy_environment.DB_NAME }}
DB_USER={{ deploy_environment.DB_USER }}
DB_PASSWORD={{ deploy_environment.DB_PASSWORD }}
SECRET_KEY={{ deploy_environment.SECRET_KEY }}
DEBUG={{ deploy_environment.DEBUG }}
SITE_ROOT={{ deploy_environment.SITE_ROOT }}
ALLOWED_HOSTS={{ deploy_environment.ALLOWED_HOSTS }}
